/* li and text of footer */
#licolor li{
color: white !important;
}

#divH h4 {
    color: white !important;
}
#rightreser {
 color: white !important;
}
/* footer logo */
#imglogo {
  margin-top: 3px;
  height: 50px;

}
#img-size{
  height:120px;
  width: 300px;
}